body {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: rgba(255, 255, 255, .6);
}
.contact {
  text-align: center;
}
.card-container {
  display: inline-block;
  max-width: 300px;
  height: 500px;
}
.card-img-top{
  height: 180px !important;
  width: auto;
}
.mtb-5{
  margin-top: 8rem;
  margin-bottom: 7rem; 
}
#cookie{
  margin: auto;
  text-align: center;
  padding: 10px;
}


